@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
  font-family: sans-serif;
  color: white;
}

/* Navbar */
.navbar{
  height: 70px;
  width:1000px;
  background-color: #1b1b1b;
  margin:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav_tags{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 15px;
  color: #9c9c9c;
}

/* Hero Section */

.hero_section{
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.info_section h1{
  font-size: 30px;
  font-weight: 700;
}

.info_section p{
  font-size: 16px;
  color: #9c9c9c;
  margin-top: 10px;
}

.outer_section{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.button_section{
  width: 300px;
  height: 60px;
  font-size: 12px;
  padding: 20px;
  background-color: #3F8E00;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 13px;
}
.button_section:hover{
  background-color: #62BA1B;
  border:#3F8E00;
}

.img{
  border-radius: 50%;
}

/* Case Studies Section */
.case_studies_section{
  height: 1400px;
  background-color: white;
  color: black;
  margin-top: 40px;
  padding-bottom: 40px;
}

.cs_info{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cs_info h2{
  font-size: 40px;
  font-weight: 800;
}
.cs_info p{
  font-size: 20px;
  color: #9c9c9c;
}

.section_main{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: auto;
  justify-content: center;
}

.section1{
  margin-top: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
}



.section1 p, .section2 p, .section3 p {
  color: #9c9c9c;
}

.c_button {
  width: 150px;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
}

.img1, .img2, .img3 {
  width: 1000px;
  height: 200px;
}

.s_text{
  display: flex;
  flex-direction: column;
}



/* Footer */
.footer{
  width: full;
  height: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}


/* Testimonials */

.testimonials{
  padding: 50px;
  background: #080808;
  height: 804px;
  text-align: center;
  margin-bottom: 700px;
}

.t_info{
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.t_info h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
}

.t_info p{
  width: 570px;
  height: 48px;
  margin: auto;
  text-align: center;  
  color: #9c9c9c;
  font-size: 15px;
  margin-top: 10px;
}

.t_section{
  display: grid;
 grid-template-columns: auto auto;
 max-width: 1200px;
 margin: auto;
 justify-content: center;
 gap: 80px;
}


.t_section1{
  width: 445px;
  height: 215px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  gap: 20px;
}

.t_section h4 {
  font-size: 1.2em;
  font-weight:500;
  color: white;
  margin: 0;
}

.t_section1, .t_section2, .t_section3, .t_section4 p{
  color: #9c9c9c;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Form Section */

.form{
  background-color: #1b1b1b;
}

.form_color{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.f_info{
  text-align: center;
}
.main_form{
  display: flex;
  flex-direction: column;
  gap: 25px;
}